<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="11528SurvivalisteProject.SerrisCodeEditor-PrivateB" Publisher="CN=85217C41-26BA-4853-BBAF-959FE22764E5" Version="2.6.3.0" />
  <mp:PhoneIdentity PhoneProductId="c69d51af-5cc0-4b99-9d3e-17b378db5f2f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Serris Code Editor - Private Beta</DisplayName>
    <PublisherDisplayName>Survivaliste Project</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SerrisCodeEditor.App">
      <uap:VisualElements DisplayName="Serris Code Editor" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="SerrisCodeEditor" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#5C106C" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="source_code_file">
            <uap:DisplayName>Source code file</uap:DisplayName>
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
            <uap:InfoTip>Source code file natively compatible with Serris Code Editor</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true" />
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/plain">.css</uap:FileType>
              <uap:FileType ContentType="text/plain">.html</uap:FileType>
              <uap:FileType ContentType="text/plain">.js</uap:FileType>
              <uap:FileType ContentType="text/plain">.htm</uap:FileType>
              <uap:FileType ContentType="text/plain">.php</uap:FileType>
              <uap:FileType ContentType="text/plain">.txt</uap:FileType>
              <uap:FileType ContentType="text/plain">.cs</uap:FileType>
              <uap:FileType ContentType="text/plain">.class</uap:FileType>
              <uap:FileType ContentType="text/plain">.py</uap:FileType>
              <uap:FileType ContentType="text/plain">.pyc</uap:FileType>
              <uap:FileType ContentType="text/plain">.pyd</uap:FileType>
              <uap:FileType ContentType="text/plain">.rb</uap:FileType>
              <uap:FileType ContentType="text/plain">.coffee</uap:FileType>
              <uap:FileType ContentType="text/plain">.cpp</uap:FileType>
              <uap:FileType ContentType="text/plain">.c</uap:FileType>
              <uap:FileType ContentType="text/plain">.h</uap:FileType>
              <uap:FileType ContentType="text/plain">.hh</uap:FileType>
              <uap:FileType ContentType="text/plain">.csp</uap:FileType>
              <uap:FileType ContentType="text/plain">.dockerfile</uap:FileType>
              <uap:FileType ContentType="text/plain">.fs</uap:FileType>
              <uap:FileType ContentType="text/plain">.go</uap:FileType>
              <uap:FileType ContentType="text/plain">.ini</uap:FileType>
              <uap:FileType ContentType="text/plain">.less</uap:FileType>
              <uap:FileType ContentType="text/plain">.lua</uap:FileType>
              <uap:FileType ContentType="text/plain">.md</uap:FileType>
              <uap:FileType ContentType="text/plain">.markdown</uap:FileType>
              <uap:FileType ContentType="text/plain">.msdax</uap:FileType>
              <uap:FileType ContentType="text/plain">.sql</uap:FileType>
              <uap:FileType ContentType="text/plain">.m</uap:FileType>
              <uap:FileType ContentType="text/plain">.mm</uap:FileType>
              <uap:FileType ContentType="text/plain">.psc1</uap:FileType>
              <uap:FileType ContentType="text/plain">.pug</uap:FileType>
              <uap:FileType ContentType="text/plain">.r</uap:FileType>
              <uap:FileType ContentType="text/plain">.cshtml</uap:FileType>
              <uap:FileType ContentType="text/plain">.vbhtml</uap:FileType>
              <uap:FileType ContentType="text/plain">.rdb</uap:FileType>
              <uap:FileType ContentType="text/plain">.sb</uap:FileType>
              <uap:FileType ContentType="text/plain">.sb2</uap:FileType>
              <uap:FileType ContentType="text/plain">.sass</uap:FileType>
              <uap:FileType ContentType="text/plain">.scss</uap:FileType>
              <uap:FileType ContentType="text/plain">.sol</uap:FileType>
              <uap:FileType ContentType="text/plain">.swift</uap:FileType>
              <uap:FileType ContentType="text/plain">.vb</uap:FileType>
              <uap:FileType ContentType="text/plain">.xml</uap:FileType>
              <uap:FileType ContentType="text/plain">.yaml</uap:FileType>
              <uap:FileType ContentType="text/plain">.json</uap:FileType>
              <uap:FileType ContentType="text/plain">.java</uap:FileType>
              <uap:FileType ContentType="text/plain">.ts</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <uap:Capability Name="removableStorage" />
  </Capabilities>
</Package>